<div class="panel panel-primary">
  <div class="panel-heading">
    {{ title }}
  </div>
  <div class="panel-body">
    <form [formGroup]="angForm" novalidate>

      <div class="form-group">
        <label class="col-md-1">User_Name</label>
        <input type="text" class="form-control" formControlName="userfirstname" #userfirstname />
      </div>
      <div *ngIf="angForm.controls['userfirstname'].invalid && (angForm.controls['userfirstname'].dirty || angForm.controls['userfirstname'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['userfirstname'].errors.required">
          Name is required.
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-1">User_LastName</label>
        <input type="text" class="form-control" formControlName="userlastname" #userlastname/>
      </div>
      <div *ngIf="angForm.controls['userlastname'].invalid && (angForm.controls['userlastname'].dirty || angForm.controls['userlastname'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['userlastname'].errors.required">
          lastname is required.
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-1">User_Email</label>
        <input type="text" class="form-control" formControlName="useremail" #useremail/>
      </div>
      <div *ngIf="angForm.controls['useremail'].invalid && (angForm.controls['useremail'].dirty || angForm.controls['useremail'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['useremail'].errors.required">
          Email is required.
        </div>
      </div>
      
      <div class="form-group">
          <label class="col-md-1">User_Phone</label>
          <input type="text" class="form-control" formControlName="userphone" #userphone/>
        </div>
        <div *ngIf="angForm.controls['userphone'].invalid && (angForm.controls['userphone'].dirty || angForm.controls['userphone'].touched)" class="alert alert-danger">
          <div *ngIf="angForm.controls['userphone'].errors.required">
            Phone is required.
          </div>
      </div>   
      
        
        
      
        <div class="form-group">
          <button (click)="addCoin(userfirstname.value, userlastname.value, useremail.value, userphone.value)" [disabled]="angForm.pristine || angForm.invalid" class="btn btn-primary">Save</button>
          <a href ="http://localhost:4200/index" class="btn btn-default">Cancle</a>
        </div>
    </form>
  </div>
</div>

