
<td><a href ="http://localhost:4200/create" class="btn btn-success">Create User</a></td>
<table class="table table-bordered table-dark">
  <thead>
  <tr bgcolor="#FFBB06">
      <td>UserFirstName</td>
      <td>UserLastname</td>
      <td>User_Email</td>
      <td>User_Phone</td>
      <td colspan="2">Actions</td>
  </tr>
  </thead>

  <tbody>
      <tr *ngFor="let coin of coins">
          <td>{{ coin.user_firstname }}</td>
          <td>{{ coin.user_lastname }}</td>
          <td>{{ coin.user_email }}</td>
          <td>{{ coin.user_phone }}</td>
          
          <td><a [routerLink]="['/edit', coin.user_id]" class="btn btn-primary">Edit</a></td>
          <td><button (click)="deleteCoin(coin.user_id)"  class="btn btn-danger">Delete</button></td>
      </tr>
  </tbody>
</table>

