<div class="panel panel-primary">
  <div class="panel-heading">
    {{ title }}
  </div>
  <div class="panel-body">
    <form [formGroup]="angForm" novalidate>

      <div class="form-group">
        <label class="col-md-1">UserFirst</label>
        <input type="text" class="form-control" formControlName="userfirstname" #userfirstname [(ngModel)] = "coin.user_firstname"/>
      </div>
      <div *ngIf="angForm.controls['userfirstname'].invalid && (angForm.controls['userfirstname'].dirty || angForm.controls['userfirstname'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['userfirstname'].errors.required">
          Name is required.
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-1">UserLatname</label>
        <input type="text" class="form-control" formControlName="userlastname" #userlastname [(ngModel)] = "coin.user_lastname" />
      </div>
      <div *ngIf="angForm.controls['userlastname'].invalid && (angForm.controls['userlastname'].dirty || angForm.controls['userlastname'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['userlastname'].errors.required">
          lastname is required.
        </div>
      </div>

      <div class="form-group">
          <label class="col-md-1">UserEmail</label>
          <input type="text" class="form-control" formControlName="useremail" #useremail [(ngModel)] = "coin.user_email" />
        </div>
        <div *ngIf="angForm.controls['useremail'].invalid && (angForm.controls['useremail'].dirty || angForm.controls['useremail'].touched)" class="alert alert-danger">
          <div *ngIf="angForm.controls['useremail'].errors.required">
            email is required.
          </div>
        </div>

        <div class="form-group">
            <label class="col-md-1">UserPhone</label>
            <input type="text" class="form-control" formControlName="userphone" #userphone [(ngModel)] = "coin.user_phone" />
          </div>
          <div *ngIf="angForm.controls['userphone'].invalid && (angForm.controls['userphone'].dirty || angForm.controls['userphone'].touched)" class="alert alert-danger">
            <div *ngIf="angForm.controls['userphone'].errors.required">
              phone is required.
            </div>
          </div>


        <div class="form-group">
          <button (click)="updateCoin(userfirstname.value, userlastname.value, useremail.value, userphone.value)" [disabled]="angForm.pristine || angForm.invalid" class="btn btn-primary">Update</button>
          <a href ="http://localhost:4200/index" class="btn btn-default">Cancle</a>
          <button (click)="deleteCoin(coin.user_id)"  class="btn btn-danger">Delete</button>
        </div>
    </form>
  </div>
</div>